.footer-logo {
  display: flex;
  margin-left: 240px;

  margin-bottom: 50px;
}

.body {
  display: flex;
  gap: 2rem;
  background-color: #292929;
}

.footer-right {
  width: 30%;
}

.footer-left,
.footer-center {
  width: 25%;
}
.footer-right p {
  margin-left: 170vh;
  color: white;
}
